:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --actual-text-color: #2196f3;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title,
.text {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.section {
  padding: 0 0 95px 0;

  background-color: yellow;
}

.section.top-padding {
  padding-top: 95px;
  background-color: #f5f4fa;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}

.section-desc {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;

  color: var(--secondary-text-color);
}

/* =====LOGO===================================== */

/* Logo Header */
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;

  color: #2196f3;
}

.logo-element {
  color: #000000;
}

/* Logo Footer */
.footer .logo-element {
  color: #ffffff;
}
/* ================================================= */

.navigation {
  line-height: 1.1;
}
.menu {
  letter-spacing: 0.02em;
}

.menu-link {
  color: var(--primary-text-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--actual-text-color);
}

.contacts-link {
  color: var(--secondary-text-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--actual-text-color);
}

/*  =====HERO=====================================**/
.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-button {
  padding: 10px 30px 10px 30px;
  min-width: 200px;

  font-weight: 700;
  font-size: 16px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;

  color: #ffffff;
  background-color: var(--actual-text-color);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #188ce8;
}
/* ================================================= */

/*  =====FEATURES=====================================*/
.features-list {
  line-height: 1.7;
}
.features-list-item {
}
/*  =====TEAM=====================================*/
.team-list {
  font-size: 16px;
}
.team-list-item {
  padding-bottom: 30px;
}
.team-name {
  margin: 30px 0px 10px 0px;
  font-weight: 500;
}

.team-proff {
  font-weight: 400;

  color: var(--secondary-text-color);
}
/* ================================================= */

/*  =====FOOTER=====================================*/
.footer {
  padding: 60px 0 60px 0;

  color: var(--secondary-text-color);
  background-color: #2f303a;
}

.address {
  margin-top: 20px;

  font-weight: 400;
  font-style: normal;

  color: #ffffff;
}
/* ================================================= */
