/* Для стилізації логотипів, використати специфічність, а саме в хедері ввести звичайний логотип без додаткової специфічності, а в футері використати спецфічність, а саме, .futer .logo{...} */

a{
text-decoration: none;
color: inherit;
}

ul{
    list-style-type: none;
}

/* =====LOGO===================================== */

/* Logo Header */
.logo{
    font-size: 26px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;

    color: #2196F3;
}

.logo-element{
    color: #000000;
}

/* Logo Footer */
.footer .logo-element{
    color: #FFFFFF;
}
/* ================================================= */

/*  =====HERO=====================================**/
.hero{
    background-color: #2F303A;
}
/* ================================================= */

/*  =====FOOTER=====================================*/
.footer{
    background-color: #2F303A;
}
/* ================================================= */