*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    padding: 24px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4d5ae5;
}

.header .logo-element {
    color: #2e2f42;
}

.navigation {
    margin-left: 76px;
    font-size: 16px;
    font-weight: 500;
}

.navigation-wrap {
    display: flex;
    gap: 40px;
}

.navigation-list-link {
    position: relative;
    padding: 24px 0;
    color: #2e2f42;
    transition: color 350ms ease-in-out;
}

.navigation-social-list {
    margin-left: auto;
}

.navigation-social-list-link {
    color: #434455;
    padding: 24px 0;
    transition: color 350ms ease-in-out;
}

.navigation-social-list-link:hover,
.navigation-list-link:hover,
.navigation-social-list-link:focus,
.navigation-list-link:focus {
    color: #404bbf;
}

.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -3px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
}

/* ------------------------------------------- */
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero-wrap {
    padding: 188px 0 292px 0;
}

.hero-title {
    margin-bottom: 42px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

    transition: background-color 350ms ease-in-out;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* ----------------------------------------- */
.section {
    padding: 120px 0;
}

.title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.subtitle {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-description {
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

/* --------------------------------------- */
.advantages-list>li {
    flex-basis: calc((100% - 72px) / 4);
}

.thumb-advantages {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------- */
.our-team {
    background: #f4f4fd;
}

.personal-card {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
}

.description-personal-card {
    padding: 32px 0;
}

.social-icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-icon-item {
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 350ms ease-in-out;
}

.social-icon-item:hover {
    background-color: #404bbf;
}

.social-icon-item>a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.social-icon-item .icon {
    fill: #f4f4fd;
}

/* ---------------------------------------- */

.portfolio-list.wrap {
    row-gap: 48px;
}

.portfolio-card {
    flex-basis: calc((100% - 48px) / 3);
    background-color: #fff;
}

.description-img-card {
    padding: 40px 32px 164px 32px;
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translateY(100%);

    transition: transform 500ms ease-in-out;
}

.portfolio-card:hover .description-img-card {
    transform: translateY(0);
}

.description-portfolio-card {
    padding: 32px 0 32px 8px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

/* ---------------------------------------- */
.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo-element {
    color: #f4f4fd;
}

.footer-wrap {
    display: flex;
    justify-content: space-around;
}

.footer-icon-item:hover {
    background-color: #31d0aa;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

/* ---------------------------------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
}

.thumb {
    position: relative;
    overflow: hidden;
}