*,
*::after,
*::before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

.header {
    /* padding: 24px 0; */
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    padding: 24px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4d5ae5;
}

.header .logo-element {
    color: #2e2f42;
}

.navigation {
    margin-left: 76px;
    font-size: 16px;
    font-weight: 500;
}

.navigation-wrap {
    display: flex;
    gap: 40px;
}

.navigation-list-link {
    padding: 24px 0;
    color: #2e2f42;
}

.navigation-social-list {
    margin-left: auto;
}


.navigation-social-list-link {
    color: #434455;
    padding: 24px 0;
}

.navigation-social-list-link:hover,
.navigation-list-link:hover,
.navigation-social-list-link:focus,
.navigation-list-link:focus {
    color: #404bbf;
}

/* ------------------------------------------- */
.hero {
    background-color: #2e2f42;
    text-align: center;
}

.hero-wrap {
    padding: 188px 0 292px 0;
}

.hero-title {
    margin-bottom: 42px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-button {
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    color: #fff;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* ----------------------------------------- */
.section {
    padding: 120px 0;
}

.section-title {}


.title {
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-subtitle {}

.subtitle {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-description {
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

/* --------------------------------------- */
.advantages-list.wrap {}

.advantages-list>li {
    flex-basis: calc((100% - 72px) / 4);
}

/* --------------------------------------- */
.our-team {
    background: #f4f4fd;
}

.personal-card {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    text-align: center;
}

.description-personal-card {
    padding: 32px 0;
}

/* ---------------------------------------- */

.portfolio-list.wrap {
    row-gap: 48px;
}

.portfolio-card {
    flex-basis: calc((100% - 48px) / 3);

    background: #fff;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.description-portfolio-card {
    padding: 32px 0 32px 8px;
}

/* ---------------------------------------- */
.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer .logo-element {
    color: #f4f4fd;
}

/* ---------------------------------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1156px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.thumb {
    overflow: hidden;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
}