*,
*::after,
*::before {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #4d5ae5;
}

.header .logo-element {
    color: #2e2f42;
}

.navigation {
    font-size: 16px;
    font-weight: 500;
}

.navigation-list-link {
    color: #2e2f42;
}

.navigation-social-list {}

.navigation-social-list-link {
    color: #434455;
}

.navigation-social-list-link:hover,
.navigation-list-link:hover,
.navigation-social-list-link:focus,
.navigation-list-link:focus {
    color: #404bbf;
}

/* ------------------------------------------- */
.hero {
    background-color: #2e2f42;
    text-align: center;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-button {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    cursor: pointer;

    color: #fff;
    background-color: #4d5ae5;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #30388e;
}

/* ----------------------------------------- */

.section-title {}


.title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

.section-subtitle {}

.subtitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-description {
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

.footer {
    color: #f4f4fd;
    background-color: #2e2f42;
}

.footer .logo-element {
    color: #f4f4fd;
}

/* ---------------------------------------------- */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}